page-upcoming {
  $SIDEMENU_TOP: #89fffd;
  $SIDEMENU_BOTTOM: #77A1D3;
  $SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

  .toolbar-background-md {
      background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background-repeat: repeat-x;
  }

  .toolbar-background-ios{
      background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background-repeat: repeat-x;
  }

  .toolbar-background-wp{
      background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
      background-repeat: repeat-x;
  }

  .fab {
     background: linear-gradient(#89fffd, #77A1D3);
     color: white;
  }

  ion-item {
     margin-top: 30px !important;
     margin-bottom: 30px !important;
  }
}
